<div class="bg-blue-900">
  <nav
    id="home"
    class="max-w-screen-xl flex p-4 py-2 justify-between mx-auto items-center"
  >
    <div>
      <a href="#home"
        ><img class="h-[40px]" src="./../../../../assets/logo.webp" alt=""
      /></a>
    </div>
    <div
      #list
      class="max-sm:fixed max-sm:w-1/2 max-sm:top-0 max-sm:-right-full duration-100 max-sm:bg-blue-800 max-sm:h-[100vh] z-10"
    >
      <ul
        class="flex max-sm:flex-col max-sm:w-full text-white max-sm:justify-start max-sm:items-stretch max-sm:h-full max-sm:py-20 max-sm:px-4 max-sm:space-y-5"
      >
        <li><a routerLink="/" routerLinkActive="active" class="m-1 p-2">Home</a></li>
        <li><a class="m-1 p-2">Societies</a></li>
        <li><a class="m-1 p-2">Notices</a></li>
        <li><a class="m-1 p-2">Events</a></li>
        <li><a class="m-1 p-2">Blog</a></li>
        <li><a class="m-1 p-2">Contact</a></li>
      </ul>
    </div>
    <div class="block sm:hidden my-auto z-10">
      <button
        (click)="toggleClass(list)"
        type="button"
        class="text-white font-medium rounded-lg text-sm px-1.5 py-1.5"
      >
        <i class="fa-solid fa-bars fa-2xl"></i>
      </button>
    </div>
  </nav>
</div>
