<footer class="bg-blue-900 wpr">
  <div class="w-[90vw] mx-auto text-white max-w-screen-xl py-5">
    <div class="flex justify-around items-center gap-3 max-sm:flex-col">
      <div class="flex-1 self-start max-sm:self-center">
        <h3 class="p-2 font-bold text-xl text-center">Subscribe</h3>
        <div class="p-3 border-[2px] border-white mt-3">
          <h3 class="text-center text-lg font-semibold">Don't Fall Behind!</h3>
          <p>Know all the happenings at ADGITM subscribe to our newsletter now.</p>
          <div><input placeholder="Email" class="p-2 m-2 ml-0 rounded-full" type="text" name="email" value=""><a class="p-2 rounded-full bg-yellow-400 text-black">Subscribe</a></div>

        </div>
      </div>
      <div class="flex-1 p-5">
        <img src="../../../../assets/logo.webp" alt="" />
      </div>
      <div class="flex-1 self-start max-sm:self-center">
        <h3 class="p-2 font-bold text-xl text-center">Contact Us</h3>
        <p class="text-center">
          <a><i class="fa-brands fa-facebook fa-xl p-2 m-2 ml-0"></i></a
          ><a><i class="fa-brands fa-linkedin fa-xl p-2 m-2"></i></a
          ><a><i class="fa-brands fa-instagram fa-xl p-2 m-2 me-0"></i></a>
        </p>
        <div class="p-3 border-[2px] border-white mt-3">
          <p>
            Address: Basement 5th block, ADGITM campus, FC-26 Panduk Shila Marg,
            Zero pushta rd, Shastri Park , Shahdara, Delhi-110053
          </p>
          <p class="font-semibold">
            <a href="mailto:tcc.adgitm@gmail.com"
              >Email id : tcc.adgitm@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>
    <p class="text-center mt-5">© 2023 TCC. All rights reserved.</p>
  </div>
</footer>
