<div>
  <div class="w-[90vw] mx-auto max-w-screen-xl py-16">
   <h1 class="font-bold text-4xl text-blue-900 my-2 text-center">The Campus Chronicles (TCC)</h1>
   <p class="text-gray-600 my-4 max-w-screen-sm mx-auto text-center">TCC, short for "The Campus Chronicles," is not just a newsletter society; it's the heartbeat of ADGITM. We are your college's voice, dedicated to bringing you the latest news, stories, and insights from the heart of our campus. Stay connected, stay informed with TCC!</p>
   <p class="text-center">
   <a class="mx-auto p-3 bg-gray-300 rounded-full">more</a>
   </p>
  </div>
</div>
